:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* *{
  outline: 1px solid green !important;
} */

#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(54, 56, 70);
}

h3{
  margin: 0;
}

.wrapper{
  width: 100%;
  height: max-content;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(54, 56, 70);
}

.not-found{
  align-self: center;
}

.main-content{
  display: flex;
  flex-direction: column;
}

.v-stack.not-found{
  padding-bottom: 10rem;
}

.v-stack.not-found.zero{
  display: block;
}

.good-item{
  width: 300px; 
  background-color: rgb(47, 47, 47);
  color: white;
  border-radius: 15px;
  display: grid;
  height: 500px;
  grid-template-rows: repeat(auto, max-content);
}

.good-item span{
  margin-top: auto;
}

.good-item img{
  border-radius: 15px 15px 0 0;
}

.offcanvas-header, .offcanvas-body{
  background-color: #212529;
  color: white;
}

.offcanvas-header{
  justify-content: space-between;
  border-bottom: 1px solid #2d3136;
}

.cart-item{
  border-bottom: 1px solid #2d3136;
  border-top: 1px solid #2d3136;
  background-color: #38393b;
  border-radius: 4px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr max-content 150px max-content;
}

.static{
  width: 3rem;
}

.offcanvas-header .btn-close{
  color: white !important;
}

.card-img{
  width: 300px;
  height: 300px;
}

.goods-list{
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 40px;
}

.shop{
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}