#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(54, 56, 70);
}

h3{
  margin: 0;
}

.wrapper{
  width: 100%;
  height: max-content;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgb(54, 56, 70);
}

.not-found{
  align-self: center;
}

.main-content{
  display: flex;
  flex-direction: column;
}

.v-stack.not-found{
  padding-bottom: 10rem;
}

.v-stack.not-found.zero{
  display: block;
}

.good-item{
  width: 300px; 
  background-color: rgb(47, 47, 47);
  color: white;
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(4, max-content);
}

.good-item img{
  border-radius: 15px 15px 0 0;
}

.offcanvas-header, .offcanvas-body{
  background-color: #212529;
  color: white;
}

.offcanvas-header{
  justify-content: space-between;
  border-bottom: 1px solid #2d3136;
}

.cart-item{
  border-bottom: 1px solid #2d3136;
  border-top: 1px solid #2d3136;
  background-color: #38393b;
  border-radius: 4px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr max-content 150px max-content;
}

.static{
  width: 3rem;
}

.offcanvas-header .btn-close{
  color: white !important;
}

.card-img{
  width: 300px;
  height: 300px;
}

.goods-list{
  display: grid;
  grid-template-columns: repeat(7, max-content);
  gap: 40px;
}

.shop{
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}